footer{
    background-color: black;
    min-height: 10vh;
    width: 100%;
    font-size: 1.5rem;
    font-family: 'Bungee', cursive;
    color: white;
    p{
        margin: 0;
    }
}

.img-social{
    height: 3rem;
    width: 3rem;
}
.img2{
    @extend .img-social;
    width: 4rem;
}
@media (max-width: 379px){
    footer{
        min-height: 12vh;
    }
}

